@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Oswald:wght@200&family=Pompiere&family=Poppins&family=Rambla:wght@700&display=swap');
html, body{
	margin: 0;
	font-family: Pompiere;
	font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #164365;
  border-radius: 20px;
  width: 6px;
}

.logo{
	height: 60px;
	
}

nav{
	display: flex;
	justify-content: space-between;
	padding: 1.25rem 3rem;
	color: white;
	font-family: Poppins;
	position: fixed;
	top: 0;
	/*border: 1px solid black;*/
	background-color: #164365;
	width: 100%;
}

.nav_right{
	display: flex;
	text-decoration: none;
	align-items: center;
	padding-right: 6.75rem;
}

.nav_item{
	text-decoration: none;
	list-style: none;
	padding: 0 0.5rem;
	color: white;
}

.nav_item:hover{
	color: #FFA500;
}

.nav_item input {
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
 	border: none;
 	width: 20vw;
 	margin-right: auto;
}

.nav_item button {
  float: right;
  padding: 0.83rem 0.83rem;
  border: none;
  cursor: pointer;
  background-image: url("./images/search.png");
}

.head{
	height: 47.5rem;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0, 50, 86, 0.9);
	background-image: url(./images/bg.png);
}

.grid_container{
	display: grid;
	grid-row-gap: 2.5rem;
	grid-column-gap: 2rem;
	/*background-color: red;
	border:  1px solid yellow;*/
	margin: 0px 2.5rem;
	padding-top: 11vh;

}

.grid-item {
  	/*background-color: rgba(255, 255, 255, 0.8);*/
  	font-size: 3.25rem;
  	background-position: center;
  	border-radius: 1.5rem;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 13;
  max-width: 41.23rem;
  font-family: 'Pompiere', cursive;
	color: white;
	padding: 0.75rem;
}

.item2 {
  	grid-column: 3 / span 2;
  	grid-row: 1 / span 13;
  	background-image: url(./images/r1.png);
  	background-repeat: no-repeat;
  	width: 590px;
  	/*background-size: auto 400px;*/
  	}

.item3 {
	grid-column: 3/ span 1;
	grid-row: 13 / span 7;
	background-image: url(./images/r2.png);
  	background-repeat: no-repeat;
  	border-radius: 25px;
  	width: 15rem;	
}

.item4 {
	grid-column: 4/ span 1;
	grid-row: 13 / span 7;	
	background-image: url(./images/r3.png);
  background-repeat: no-repeat;
  width: 15rem;
}

.lets{
	font-size: 1.5rem;
	line-height: 1.5rem;
	max-width: 460px;
	margin-top: -2.5rem;

}

.button:hover {
	box-shadow: 0 0.75rem 1rem 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button {
	background-color: #FFA500;
	border: none;
	color: white;
	padding: 0.75rem 2rem;
	text-align: center;
	font-size: 1.75rem;
	cursor: pointer;
	transition-duration: 0.2s;
	border-radius: 12px;
}

.hero {
}

.heros{
	font-size: 6.5rem;
	color: #FFA500;
	margin-left: 2.5rem;
}

.oh {
	font-size: 1.15rem;
	color: #0F4871;
	margin-left: 2.5rem;
	line-height: 1.5rem;
	max-width: 420px;
	margin-top: -3%;
}

.images{
	display: flex;
	flex-direction: row;
	overflow: hidden;

}

.images img{
	padding: 2% 3%;
}

.e1{
	margin-left: -5%;
}

.arrow{
	display: flex;
	justify-content: center;
}

.arrow img{
	padding: 0px 1%;
}

.imgs_div{
	display: flex;
	justify-content: space-between;
	padding: 5% 12%;
	font-family: poppins;
	font-weight: bold;
	text-align: center;
	max-height: 120px;
}

.imgs_div p{
	max-width: 100px;
}

.vid{
	height: 550px;
	background-image: url("./images/rect.png");
	background-size: 100% 100%;
}

.cont{
	background-image: url("./images/paper.png");
	background-size: 100% 100%;
	padding: 0.75rem 2.5rem;
}

.cont h1{
	font-family: Amiko;
	font-size: 6.5rem;
	line-height: 8.25rem;
}

.contact-container {
  	display: grid;
  	grid-row-gap: 80px;
  	grid-column-gap: 20px;
  	/*background-color: #2196F3;*/
  	padding-bottom: 20px;
  	font-family: amiko;
  	font-size: 1.5rem;
  	overflow: hidden;
}

/*.contact-item {
  	background-color: rgba(255, 255, 255, 0.8);
}*/

.items1 {
  	grid-column: 1 / span 2;
  	grid-row: 1 / span 5;
}

.part1{
	display: flex;
  	flex-direction: row;
  	gap: 30%;
	margin-right: auto;
	padding-right: 10%;
}

.items1 input{
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	width: 100%;
	font-size: 1.25rem;

}

.sub1:hover {
	box-shadow: 0 0.75rem 1rem 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.sub1 {
	background-color: #FFA500 !important;
	border: none;
	color: white;
	padding: 0.75rem 2rem;
	text-align: center;
	font-size: 1.75rem;
	cursor: pointer;
	transition-duration: 0.2s;
	border-radius: 12px;
	width: auto !important;
	margin-top: 5%;
}

.msg{
	padding-top: 15%;
}

.msg input{
	width: 84%;
}

.items2 {
  	grid-column: 3 / span auto;
  	grid-row: 1 / span 5;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	
}

.items2 p{
	line-height: 0px;
	color: #737373;
	font-size: 1.25rem;
}

.bold_heading{
	color: black !important;
}

.number{
	color: #FFA500;
	font-size: 2.5rem;
	font-family: rambla;
}

footer{
	display: flex;
	font-family: rambla;
	background-color: #FFA500;
}

.footer{
	color: white;
	padding: 0 5%;
}

.footer p{
	font-size: 1rem;
}

.icons{
	margin: auto 0px auto auto;
	padding-right: 2.5rem;
}

.icons img{
	padding-right: 2.5rem;
}

